@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.card-quote {
    width: 400px;
    min-height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #fff;
    border-radius: 1em;
}

.card-quote p {
    transition: all 1s;
}

.card-quote p span {
    color: #000 !important;
    font-size: 1.1em;
}

.card-quote h5 {
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.card-quote button {
    position: absolute;
    bottom: 1em;
    left: 2em;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 1s;
}

.card-quote button:hover {
    background-color: #000 !important;
    color: #fff;
}
